  html, body { 
    height:100%; 
    margin:0;
    padding:0;
  }
  
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  

  /* coneta */
  .margin{
    border: 0.5px solid gray;
    margin: auto;
    border-spacing: 17px;
    background-color: seashell;
  }

  td{
    border: 0.5px solid gray;
    background-color: white;
    border-radius: 44px;
    width: 60px;
    padding: 7px;
    height:60px;
    cursor: pointer;
  }


  .td{
    height: 48px;
    background: white;
    border-radius: 0px;
  }
  .td:hover {
    background-color: rgb(221, 220, 220);
  }